@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-handwriting-latin: var(--font-handwriting-latin);
  --font-handwriting-arabic: var(--font-handwriting-arabic);
  --font-dancing-script: var(--font-dancing-script);
  --font-indie-flower: var(--font-indie-flower);
  --font-roboto-mono: var(--font-roboto-mono);
}
